__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/
env/
*.ipynb
*.ipynb_checkpoints
.ipynb_checkpoints/
catboost_info/
figures/
*.csv
!data/depo_mapping.csv
*.cbm
!prod_model/model.cbm
.git/
.gitignore
.DS_Store
*.md
!README.md
